@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel



<div class="container">
    <h1 class="my-5">Clever Bookstore</h1>
    <div class="row">

        @foreach (Book b in Model.Books)
        {
            <partial name="BookstoreSummary" model="b" />
        }
    </div>

    @*page selection with next and previous page*@
<div class="d-flex justify-content-between align-items-center">
    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.PageInfo.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(Model.PageAction, new { pageNum = Model.PageInfo.PageNumber - 1 })">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageInfo.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action(Model.PageAction, new { pageNum = i })">@i</a>
                </li>
            }

            @if (Model.PageInfo.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(Model.PageAction, new { pageNum = Model.PageInfo.PageNumber + 1 })">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
</div>

<style>
    .card-text {
        font-size: 14px;
        color: #888;
    }

    .card-subtitle {
        font-size: 16px;
        font-weight: 600;
    }
</style>


