@page
@model Mission09_Kizy.Pages.ShoppingCartModel
@{
}

<h1>Shopping Cart</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            var subtotal = i.Books.Price * i.Quantity;
            <tr>
                <td>@i.Books.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Books.Price.ToString("c")</td>
                <td>@subtotal.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateSubtotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue buying</a>
</div>
